@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #1E3D58;
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    background-color:#43B0F1;
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    margin: .5em .2em .4em .2em;
    transition: transform .2s ease-in;
    animation: bubble-in;
}

button:hover {
    transform: scale(1.11);
    color: #b3d6f5;
    background: #1471af;
}

button:active {
    transform: scale(0.9);
    color: #ffffff;
    background: #14283a;
}
.header {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 35px;
    margin: 2em auto;
    align-content: center;
}

.functions {
    display: flex;
    justify-content: center;
}
.header hr {
    color: #ececec;
    margin: auto;
    width: 45%;
    animation : slide-in2 .7s ease-in-out;

}

.hostCanvas {
    display: flex;
    justify-content: center;
}

.underCanvas {
    display: none;
    /* position: absolute; */
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 1em 0 0 0;
    animation: SlideOut 8s ease-in-out;
}

@keyframes SlideOut {
    0% {
        font-size: 35px;
        opacity: 0;
        margin: 15em 0 25em 0;
    }
    25% {
        opacity: 1;
        margin: 15em 0 25em 0;
    }
    50% {
        margin: 15em 0 25em 0;
    }
    75% {
        margin: 15em 0 25em 0;
        font-size: 35px;
    }
    to {
        margin: 1em 0 0 0;
        font-size: 15px;
    }
}

canvas {
    border-radius: 10px;
    margin-top: 13em;
    display: block;
    position: absolute;
    background-color: #d8eafa;
    width: 75vw;
    height: 75vh;
    animation : slide-in .7s ease-in-out;
}

@keyframes slide-in {
    from {
        width: 20px;
        height: 20px;
        opacity: 0;
    }
}

@keyframes slide-in2 {
    from {
        width: 20px;
        opacity: 0;
    }
}

@keyframes bubble-in {
    from {
        width: 20px;
        height: 20px;   
    }
}


/* Responsive Canvas*/
@media (min-width:720px) {
    canvas {
        height: 70vh;
        width: 70vw;
    }
}

@media (max-width:990px) {
    canvas {
        height: 80vh;
        width: 80vw;
    }
}

@media (max-width:450px) {
    canvas {
        margin-top: 15em;
        height: 60vh;
        width: 65vw;
    }
}