@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #1E3D58;
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

button {
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    background-color:#43B0F1;
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    margin: .5em .2em .4em .2em;
    transition: transform .2s ease-in;
}

button:hover {
    transform: scale(1.11);
    color: #b3d6f5;
    background: #1471af;
}

button:active {
    transform: scale(0.9);
    color: #ffffff;
    background: #14283a;
}
.header {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 35px;
    margin: 2em auto;
    align-content: center;
}

.functions {
    display: flex;
    justify-content: center;
}
.header hr {
    color: #ececec;
    margin: auto;
    width: 45%;
}

.hostCanvas {
    display: flex;
    justify-content: center;
}

canvas {
    margin-top: 13em;
    display: block;
    position: absolute;
    background-color: #d8eafa;
    width: 75vw;
    height: 75vh;
}

/* Responsive Canvas*/
@media (min-width:720px) {
    canvas {
        height: 70vh;
        width: 70vw;
    }
}

@media (max-width:990px) {
    canvas {
        height: 80vh;
        width: 80vw;
    }
}

@media (max-width:450px) {
    canvas {
        margin-top: 15em;
        height: 60vh;
        width: 65vw;
    }
}