@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    background: #343434;
}

.container {
    font-family: 'Raleway';
    color: #fff;
    font-size: 35px;    
}

.header {
    position: relative;
    top: 1em;
    display: flex;
    align-items:center;
    justify-content: center;
}

.ListContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ActiveTestHost {

    padding: 1.5em;
    position: relative;
    top: 5em;
    border-radius: 15px;
    height: auto;
    width: 15em;
    background: rgb(43, 43, 43);
}

.TestList {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: #fff;
}
.ActiveTestHost > .TestList ul li {
    list-style: none;  
    cursor: pointer;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 100px;
    padding: 1em;
    width: 8em;
    border-radius: 5px;
    margin: 1em 0;
    filter : drop-shadow(2px 4px 8px #1a1a1a);
    background:rgb(53, 53, 53);
    transition: 0.1s ease-in-out;
}



