@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    background: #343434;
}

.container {
    font-family: 'Raleway';
    color: #fff;
    font-size: 35px;    
    position: relative;
}

.header {
    position: absolute;
    top: 1em;
    display: flex;
    align-items:center;
    justify-content: center;
}

