@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


*  {
    margin: 0;
    padding: 0;
    background: #343434;
}

.container {
    height: 100%;
    width: 100%;
}

.header {
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
}

.title {
    margin-top: 1em;
}

.spacer {
    height: 90px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Raleway';
    height: 90%;
}

.content {
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    margin: 1em 0;
    border-radius: 5px;
    width: 80%;
    background: rgb(37, 37, 37);
    height: auto;
}


.ActiveTestHost {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    position: relative;
    top: 15em;
    border-radius: 15px;
    height: auto;
    width: 15em;
    background: rgb(43, 43, 43);
}

.TestList {
    
}
a {
    text-decoration: none;
    color: #fff;
}
.ActiveTestHost > .TestList ul li {
    /* list-style: none;
         
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 100px;
    padding: 1em;
    width: 8em;
    border-radius: 5px;
    margin: 1em 0;
    filter : drop-shadow(2px 4px 8px #1a1a1a);
    /* height: 10%; */
    background:rgb(53, 53, 53);
    transition: 0.1s ease-in-out; */
}



